<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.diplom">

    <uses-permission android:name="android.permission.VIBRATE" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_icon_to_do"
        android:label="@string/app_name"
        android:roundIcon="@drawable/ic_icon_to_do"
        android:supportsRtl="true"
        android:theme="@style/Theme.AppCompat.Light.NoActionBar">
        <activity android:name=".activity.NotifyEventActivity"/>
        <activity android:name=".activity.NotifyActivity" />
        <activity android:name=".activity.UpdateTaskActivity" />
        <activity android:name=".activity.UpdateEventActivity" />
        <activity android:name=".activity.EventActivity" />
        <activity android:name=".activity.TaskActivity" />
        <activity android:name=".activity.DiaryActivity" />
        <activity
            android:name=".activity.MainActivity"
            android:label="@string/app_name">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <receiver android:name=".alarm.AlarmReceiverTask" android:enabled="true" />
        <receiver android:name=".alarm.AlarmReceiverEvent" android:enabled="true" />
        <receiver android:name=".alarm.AlarmReceiverEvening" android:enabled="true"/>
    </application>

</manifest>